.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}


.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.ant-menu li a{
    display: block;
    width: 100%;
    height: 100%;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected a, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected a{
    color: #fff;
}

li.ant-menu-item>div, .ant-menu-submenu-title>div{
    overflow: hidden;
}